.example-spacer {
  flex: 1 1 auto;
}

.h5 {
  background-color: rgb(124, 1, 1);

}
.titlechac {
  text-align: center;
}

.textFooter {
  color: #fff;
  text-align: center;
  margin: 350px;
  padding: 205px;
}
