<div *ngIf="showMsg">
  <mat-card class="cardNotfy">
    <mat-label class="showMsg">Reserva efetuada !!!</mat-label>
  </mat-card>
</div>
<app-header></app-header>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Promoções" class="tab-home">
    <div class="tab">
      <div class="div-card">
        <mat-card class="example-card" class="mat-elevation-z7">
          <mat-card-header class="titlecard">
            <mat-card-title style="text-align: center;">NATAL 2021</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
          <mat-card-content class="descriptioncard">
            <p>
              3 Dias (24,25 e 26)
            </p>
          </mat-card-content>
          <mat-card-actions class="cardbutton">
            <button mat-raised-button color="warn" (click)="openNotify()">RESERVAR AGORA</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="div-card">
        <mat-card class="mat-elevation-z7">
          <mat-card-header class="titlecard">
            <mat-card-title>RÉVEILLON 2021</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
          <mat-card-content class="descriptioncard">
            <p>
              3 dias ( 31, 01 e 02)
            </p>
          </mat-card-content>
          <mat-card-actions class="cardbutton">
            <button mat-raised-button color="warn">RESERVAR AGORA</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="div-card">
        <mat-card class="mat-elevation-z7">
          <mat-card-header class="titlecard">
            <mat-card-title>CARNAVAL 2022</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
          <mat-card-content class="descriptioncard">
            <p>
              3 dias ( 31, 01 e 02)
            </p>
          </mat-card-content>
          <mat-card-actions class="cardbutton">
            <button mat-raised-button color="warn">RESERVAR AGORA</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Cotação">
    <form action="javascript:" [formGroup]="reservaForm" (ngSubmit)="reserve()">
      <div class="divcota">
        <mat-card class="cota-card2">
          <mat-card-header class="title-cota">
            <mat-card-title class="title-cota">Simule o valor do aluguel</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="divselect">
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Tipo de evento</mat-label>
              <mat-select panelClass="select-panel" formControlName="inputTypeEvent">
                <mat-option value="1">Aniversário</mat-option>
                <mat-option value="2">Retiro</mat-option>
                <mat-option value="1">Chá de bebê</mat-option>
                <mat-option value="2">Casamento</mat-option>
                <mat-option value="0">Outro</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Quantidade de convidados</mat-label>
              <mat-select panelClass="select-panel" formControlName="inputConv">
                <mat-option value="0"></mat-option>
                <mat-option value="10">Até 10 conv.</mat-option>
                <mat-option value="30">Até 30 conv.</mat-option>
                <mat-option value="50">Até 50 conv.</mat-option>
                <mat-option value="90">Acima de 50</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="divselect">
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Dia do evento</mat-label>
              <mat-select panelClass="select-panel" formControlName="inputDay">
                <mat-option value="sex">Sexta-Feira</mat-option>
                <mat-option value="sab">Sábado</mat-option>
                <mat-option value="dom">Domingo</mat-option>
                <mat-option value="sabdom">Sábado e Domingo</mat-option>
                <mat-option value="fer">Feriado</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Horário do evento</mat-label>
              <mat-select panelClass="select-panel" formControlName="inputHour">
                <mat-option value=1>08h as 20h</mat-option>
                <mat-option value=2>18h as 06h</mat-option>
                <mat-option value=3>12h as 00h</mat-option>
                <mat-option value=4>2 dias</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-slide-toggle [(ngModel)]="isChecked" formControlName="inputTableGame" (change)="handleChange(true)">
              Adicionar +10 jogos de mesas.
            </mat-slide-toggle>

          </div>
          <mat-divider></mat-divider>
          <div class="divbutton">
            <button type="submit" class="buttonform" mat-raised-button color="warn">Simular</button>
            <mat-label class="label-price"><b>O VALOR DO SEU EVENTO SERÁ R$</b> </mat-label>
          </div>
        </mat-card>
      </div>
    </form>
    <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Fotos" class="tabphotos">
    <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Reservas">
    <div class="divReservas">
      <table mat-table [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="thtable"><strong>No.</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="thtable"><strong>EVENTO</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef class="thtable"><strong>DATA</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef class="thtable"><strong>PREÇO</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <app-footer></app-footer>
  </mat-tab>
</mat-tab-group>