.example-card {
  max-width: 370px;
  margin: 25px;
  border-radius: 15px;
  align-items: center;
}

.cardbutton {
  margin-left: 25%;
}

.labelpromo{
  text-align: center;
  font-size: 30px;
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.stylebutton {
  flex: 1;

}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.tab {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(247, 177, 177);
  border-radius: 18px;
  max-width: 70%;
}

.tabcota {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 18px;
  max-width: 90%;
  background-color: rgb(247, 177, 177);

}

.example-form-field {
  margin: 0 8px 16px 0;
}

.example-form {
  width:100%;
  align-items: center;
}

.example-full-width {
  width: 100%;
}

.formcotacao {
  width: 45%;
  align-items: center;
}
.buttonform{
  align-items: center;
  width: 120px;

}

td {
  padding-right: 8px;
}
.divcota {
  align-items: center;
  margin: auto;
  background-color: rgb(247, 177, 177);

}

.cota-card {
  height: 100%;
  width: 95%;
}
.cota-card2 {
  height: 100%;
  width: 100%;
}
.tabphotos {
  background-color: #000;
}

.divtab {
 display: flex;
}

.divbutton {
  align-items: center;
  margin: auto;
  padding: 15px;
}
.loren{
  height: 100%;
  width: 100%;
  margin: auto;
}
.gridlist {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.imag {
  width: 100%;
  height: 100%;
}

.accord {
  padding: 15px;
}
