.example-card {
  max-width: 370px;
  margin: 25px;
  border-radius: 15px;
  align-items: center;
}
.tab-home{
  background-color:  rgb(247, 177, 177);
}

.cardbutton {
  margin-left: 25%;
}

.labelpromo{
  text-align: center;
  font-size: 30px;
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.stylebutton {
  flex: 1;

}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.divselect{
  display: flex;
  margin-top: 40px;
  margin-bottom: 15px;
  align-items: center;
}

.mat-select {
  border-bottom: 15px;
  border-radius: 20px;
  border-width: 15px;
}

.select {
  border-radius: 55px;

}
.tab {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(247, 177, 177);
  border-radius: 18px;
  max-width: 75%;
}

.tabcota {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 18px;
  max-width: 90%;
  background-color: rgb(247, 177, 177);

}
.label-price{
  margin-left: 180px;
}

.example-form-field {
  margin: 0 8px 16px 0;
}

.example-form {
  width:100%;
  align-items: center;
}

.example-full-width {
  width: 100%;
}

.formcotacao {
  width: 45%;
  align-items: center;
}
.buttonform{
  align-items: center;
  width: 150px;
  height: 40px;

}

.select-panel {
  background: rgba(255, 0, 0, 0.5);
  border-radius: 15px;
}

td {
  padding-right: 8px;
}
.title-cota{
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.divcota {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(247, 177, 177);
}

.cota-card {
  height: 100%;
  width: 95%;
}
.cota-card2 {
  align-items: center;
  height: 80%;
  width: 80%;
}
.tabphotos {
  background-color: #000;
}

.divtab {
 display: flex;
 align-items: center;
}

.divbutton {
  margin: 0 auto;
  padding: 15px;
}

.gridlist {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.imag {
  width: 100%;
  height: 100%;
}

.accord {
  padding: 15px;
}

.showMsg {
  font-size: large;
  color: red;
  background-color: #000;
  text-align: center;
  margin-bottom: 25px;
}

.cardNotfy {
 flex: 1;
 width: 20%;
 height: 45%;
 background-color:#fff;
}