<div *ngIf="showMsg">
  <mat-card class="cardNotfy">
    <mat-label class="showMsg">Reserva efetuada !!!</mat-label>
  </mat-card>
</div>
<app-header></app-header>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Promoções" class="tab-home">
    <div class="tab">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="text-align: center;">NATAL 2021</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Natal 3 Dias (24,25 e 26)
          </p>
        </mat-card-content>
        <mat-card-actions class="cardbutton">
          <button mat-raised-button color="warn" (click)="reserve()">RESERVAR AGORA</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>RÉVEILLON 2021</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Reveillon 3 dias ( 31, 01 e 02)
          </p>
        </mat-card-content>
        <mat-card-actions class="cardbutton">
          <button  mat-raised-button color="warn">RESERVAR AGORA</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>CARNAVAL 2022</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/chacara-piscina.jfif" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Carnaval 3 dias ( 31, 01 e 02)
          </p>
        </mat-card-content>
        <mat-card-actions class="cardbutton">
          <button mat-raised-button color="warn">RESERVAR AGORA</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Cotação">
    <div class="divcota">
        <mat-card class="cota-card2">
          <mat-card-header class="title-cota">
            <mat-card-title class="title-cota">Simule o valor do aluguel</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <div class="divselect">
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Tipo de evento</mat-label>
              <mat-select panelClass="select-panel">
                <mat-option value="0"></mat-option>
                <mat-option value="1">Aniversário</mat-option>
                <mat-option value="2">Retiro</mat-option>
                <mat-option value="3">Chá de bebê</mat-option>
                <mat-option value="4">Casamento</mat-option>
                <mat-option value="4">Outro</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Quantidade de convidados</mat-label>
              <mat-select panelClass="select-panel">
                <mat-option value="0"></mat-option>
                <mat-option value="1">Até 10 conv.</mat-option>
                <mat-option value="2">Até 30 conv.</mat-option>
                <mat-option value="3">Até 50 conv.</mat-option>
                <mat-option value="4">Acima de 50</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="divselect">
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Dia do evento</mat-label>
              <mat-select panelClass="select-panel">
                <mat-option value="1">Sexta-Feira</mat-option>
                <mat-option value="2">Sábado</mat-option>
                <mat-option value="3">Domingo</mat-option>
                <mat-option value="5">Sábado e Domingo</mat-option>
                <mat-option value="4">Feriado</mat-option>
                <mat-option value="5">Outro dia da semana</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-select">
              <mat-label>Horário do evento</mat-label>
              <mat-select panelClass="select-panel">
                <mat-option value="1">08h as 20h</mat-option>
                <mat-option value="2">18h as 06h</mat-option>
                <mat-option value="3">12h as 00h</mat-option>
                <mat-option value="4">25</mat-option>
                <mat-option value="4">08</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <div>
              <mat-slide-toggle
               [(ngModel)]="isChecked"
               >
               Adicionar +10 jogos de mesas.
              </mat-slide-toggle>
              
            </div>
            <mat-divider></mat-divider>
            <div class="divbutton">
              <button class="buttonform" mat-raised-button color="warn">Simular</button>
              <mat-label class="label-price"><b>O VALOR DO SEU EVENTO SERÁ R$</b> </mat-label>
            </div>
        </mat-card>
    </div>
    <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Fotos" class="tabphotos">
  <div class="divtab">
    <div class="loren">
      <img class="imag" src="./../assets/images/chac-night.jpg"/>
    </div>
    <div class="loren">
      <img class="imag" src="./../assets/images/chacara-piscina.jfif"/>
    </div>
  </div>
  <app-footer></app-footer>
  </mat-tab>
  <mat-tab label="Contato">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-label>@marcelohenrique95 GITHUB</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <app-footer></app-footer>
  </mat-tab>
</mat-tab-group>

